.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background: linear-gradient(
    to right,
    rgb(64, 234, 240),
    rgb(183, 241, 243),
    rgb(64, 234, 240)
  );
}

.logo {
  padding: 5px;
  height: 100%;
  border-radius: 50%;
}

.authBlock {
  margin-right: 2vw;
  font-weight: bold;
}

.link {
  text-decoration: none;
}
