.inputMessage {
  position: fixed;
  margin: 10px;
  width: 45%;
  bottom: 2vh;
  height: 20vh;
}

.textareaWrap {
  margin-bottom: 10px;
  min-height: 30px;
  padding: 5px;
  border: 2px solid;
  border-radius: 15px;
}

.textarea {
  display: inline-table;
  width: 100%;
  outline: none;
  border: none;
}

.textarea:focus {
  outline: none;
  border: none;
}

.messageSend {
  top: 110%;
  right: 12%;
  padding: 5px;
  border: 2px solid blue;
  background-color: aqua;
  border-radius: 5px;
  cursor: pointer;
}

.messageSend:active {
  transform: scale(0.95);
}
