.inputMessage {
  position: fixed;
  margin: 10px;
  width: 45%;
  bottom: 2vh;
}

.textareaWrap {
  width: 80%;
  margin-bottom: 10px;
  min-height: 30px;
  padding: 5px;
  border: 2px solid;
  border-radius: 15px;
  background-color: white;
}

.textarea {
  display: inline-table;
  width: 100%;
  outline: none;
  border: none;
}

.textarea:focus {
  outline: none;
  border: none;
}

.messageSend {
  top: 110%;
  right: 12%;
  padding: 5px;
  border: 2px solid blue;
  background: linear-gradient(
    to right,
    rgb(64, 234, 240),
    rgb(183, 241, 243),
    rgb(64, 234, 240)
  );
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.messageSend:active {
  transform: scale(0.95);
}
