.item {
  margin-top: 20px;
  font-style: italic;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.circle {
  height: 30px;
  flex-basis: 30px;
  flex-shrink: 0;
  background-color: darkgoldenrod;
  border-radius: 50%;
}

.post {
  flex-grow: 1;
  margin-left: 20px;
}
