.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 20px;
  padding-top: 3vh;
  font-weight: bold;
  background-color: rgb(64, 234, 240);
}

.nav * {
  margin: 5px 0;
}

.nav :last-child {
  margin-top: 20px;
}

.item {
  text-decoration: none;
}

.item:hover {
  text-decoration: underline;
}

.item {
  color: blue;
}

.active {
  color: violet;
  text-decoration: none;
  font-size: 20px;
}
